<?xml version="1.0" encoding="UTF-8"?>
<!-- Configures the Camel Context-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
  <aop:aspectj-autoproxy/>
  <!--目标bean-->
  <bean id="naughtyWaiter" class="com.example.annotationAspectJ.NaughtyWaiter"/>
  <bean id="nativeWaiter" class="com.example.NativeWaiter"/>
  <bean class="com.example.annotationAspectJ.TestAspectJ"/>
</beans>
